@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat_Regular.ttf") format("truetype"),
       url("/fonts/Montserrat_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 100%;
    color:white;
    background: black;
}

html{
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0;
    margin: 0;
}

.main_Container{
    width: 100%;
    height: 100%;
    position: relative;
}

.sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sub li:hover{
    color:#00fff2;
}

.header_Wrapper{
    position: relative;
    height: 100%;
    width: 50%;
}

.navigation{
    width: 50%;
    height: 100%;
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu li{
    font-size:2.25rem;
}

.spacer{
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100px;
    display:inline-block;
    margin-bottom: -23px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.Container{
    position: absolute;
    display:inline-block;
    top: 50%;
    transform: translateY(-50%);
}
.Container h1{
    font-size: 50px;
    margin: 0%;
}
.Container p{
    font-size: 20px;
    margin: 0%;
}

/*Content*/

/*Profile*/
.CV_Container{
    margin: 0px 13%;
}

.perfil img{
    width:200px;
    height: 200px;
    margin:10px 0px;
    display: inline-block;
}

.perfil > h1{
    border-bottom: 2px solid rgb(255, 255, 255);
    width:300px;
    margin-bottom: 10px;
}

.Descricao{
    position:relative;
    display:inline-block;
    top: 50%;
    transform: translateY(32%);
    margin: 18px;
}

/*Informações*/
.content{
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.content h2{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.size{
    width: 33.33%;
}
.size h2{
    width: 310px;
}

.size, .size2 p{
    width: 40%;
}

.Developing h2 , .Contactos h2{
    width: 230px;
}

.block1{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height:200px;
    margin-top: 20px;
    gap: 70px;
}

.block1 h2{
    margin-bottom: 10px;
}

.Formacao p{
    margin:0;
}

.Contactos p{
    margin: 3px 0px;
}

#link{
    color: #00fff2;
}

.size2{
    width:20%;
}


.block2{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 200px;
}

.block2 h2{
    margin-bottom: 10px;
}

.block2 p{
    width: 100%;
}

/*.Design,.Developing .Hobbies p {
    margin-bottom: 5px;
}*/

.ajuste{
    margin-top: 10px;
    margin-bottom: 0px;
}

.bold{
    font-family: 'Montserrat-Bold', sans-serif;
}

.division{
    width: calc(100%-26%);
    padding:55px 13%;
    margin-top:55px ;
    color:black;
    background: white
}

.sobre{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.section{
    margin: 55px 13%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.one{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.three, .four{
    display: flex;
    width: 100%;
    gap:20px;
}


.first .second{
    width: 50%;
}

.first img , .second img{
    max-width: 100%;
    height: auto;
    border: 1px solid rgb(255,255,255);
    padding: 1px;
    width:100%
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

/* .bottom-5 {
    bottom: 1.25rem;
}
.right-5 {
    right: 1.25rem;
}
.fixed {
    position: fixed;
}*/
.cursor-pointer {
    cursor: pointer;
}

.scrollToTopBtn {
  /* same general styles as before */

  /* place it at the bottom-right corner */
position: fixed;
bottom: 30px;
right: 30px;

  /* keep it at the top of everything else */
z-index: 100;

  /* hide with opacity */
opacity: 0;

  /* also add a translate effect */
transform: translateY(100px);

  /* and a transition */
transition: all .5s ease
}

.showBtn{
    opacity: 1;
    transform: translateY(0);
}

footer{
    text-align: center;
   background-color: #00fff2 ;
   color: black;
   font-size:0.8rem;
}

.mobile, .burguer {
    display: none;
}


@media(max-width:1050px){

    .block1{
        justify-content:normal;
    }

    .block1, .block2{
        height: 100%;
        flex-wrap: wrap;
    }

    .block1, .block2 p{
        width:100%
    }

}

@media(max-width:926px){
    .spacer{
        position: relative;
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 100px;
        display:inline-block;
        margin-bottom: -23px;
        margin-right: 10px;
        top: 53%;
        transform: translateY(50%);
    }
}

@media (max-width: 800px) {

.CV_Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin:0;
}

.Container {
    width: 100%;
}

.block1, .block2{
    justify-content:center;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    gap: 70px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Descricao {
    position: relative;
    display: inline-block;
    top: 50%;
    align-items: center;
    transform: translateY(0%);
    margin:0;
}

.size, .size2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section{
    margin-top: 55px;
}

.one{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

html, body {
    font-size: 1rem;
}

.Container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.spacer{
    width: 0;
}

.division{
    text-align: center;
}

.three{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.four{
    display: flex;
    gap: 5px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.left{
    text-align: center;
}

.navigation{
    display: none;
    width: 0;
}

.header_Wrapper{
    width: 100%;
}

.burguer{
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index:101;
}

.circle{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #00fff2af;
    margin: 10px 10px 0px 0px;
}


.circle img{
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    width: 40px;
}

.mobile{
    opacity: 0;
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index:101;
}

.little{
    margin: 10px 10px 0px 0px;
    background: #00fff2af;
    width: 150px;
    height: 190px;
    border-radius: 5px 30px 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
    font-size:18px;
}

.little>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.showMobile{
    opacity: 1;
}

.invisible{
   /* background-color: red;
    opacity: 0.7;
    filter:alpha(opacity=70); */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility:visible;
    z-index: 100;
}

.none{
    display: none;
}

}